<!-- <p>header works!</p> -->
<ul class="nav justify-content-around border p-3 bg-danger">
    <li class="nav-item">
      <button class="btn btn-primary" routerLink="about">About Us</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="contact">Contact Us</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="emiCalc">EMI Calculator</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary" routerLink="login">Login</button>
    </li>
  </ul>